In [249]:
import numpy as np
import pandas as pd
import ast

In [250]:
movies = pd.read_csv('IMDB_Top_250_Movies.csv')
credits = pd.read_csv('ratings.csv')

In [251]:
movies.head(1)

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"

In [252]:
credits.head(1)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044

In [253]:
movies = movies.merge(credits,on='rating')

In [254]:
movies.head(1)

Empty DataFrame
Columns: [rank, name, year, rating, genre, certificate, run_time, tagline, budget, box_office, casts, directors, writers, userId, movieId, timestamp]
Index: []

In [255]:
movies = movies[['rank', 'name', 'rating', 'genre', 'tagline', 'casts', 'directors', 'writers']]

In [256]:
movies.head()

Empty DataFrame
Columns: [rank, name, rating, genre, tagline, casts, directors, writers]
Index: []

In [257]:
movies.isnull().sum()

rank         0
name         0
rating       0
genre        0
tagline      0
casts        0
directors    0
writers      0
dtype: int64

In [258]:
movies.duplicated().sum()

0

In [259]:
movies = pd.read_csv('IMDB_Top_250_Movies.csv')
if movies.empty:
    print("The DataFrame is still empty after loading.")
else:
    print(movies.iloc[0].genre)

Drama

In [260]:
print(movies.columns)

Index(['rank', 'name', 'year', 'rating', 'genre', 'certificate', 'run_time',
       'tagline', 'budget', 'box_office', 'casts', 'directors', 'writers'],
      dtype='object')

In [261]:
movies.iloc[0].genre

'Drama'

In [262]:
# Check the contents of the 'genre' column
print(movies['genre'].head())

0                 Drama
1           Crime,Drama
2    Action,Crime,Drama
3           Crime,Drama
4           Crime,Drama
Name: genre, dtype: object

In [263]:
def convert(obj):
    # Split the string by commas and strip any whitespace
    return [genre.strip() for genre in obj.split(',')]

In [264]:
movies['genre'] = movies['genre'].apply(convert)

In [265]:
movies.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,[Drama],R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"[Crime, Drama]",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"[Crime, Drama]",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"[Crime, Drama]",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [266]:
movies['tagline'] = movies['tagline'].apply(convert)

In [267]:
movies.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,[Drama],R,2h 22m,[Fear can hold you prisoner. Hope can set you ...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"[Crime, Drama]",R,2h 55m,[An offer you can't refuse.],6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",PG-13,2h 32m,[Why So Serious?],185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"[Crime, Drama]",R,3h 22m,[All the power on earth can't change destiny.],13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"[Crime, Drama]",Approved,1h 36m,[Life Is In Their Hands -- Death Is On Their M...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

In [268]:
def convert3(obj):
    # Split the string by commas and strip any whitespace
    return [actor.strip() for actor in obj.split(',')][:3]  # Get top 3 actors

In [269]:
movies['casts'] = movies['casts'].apply(convert3)

In [270]:
movies.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,[Drama],R,2h 22m,[Fear can hold you prisoner. Hope can set you ...,25000000,28884504,"[Tim Robbins, Morgan Freeman, Bob Gunton]",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"[Crime, Drama]",R,2h 55m,[An offer you can't refuse.],6000000,250341816,"[Marlon Brando, Al Pacino, James Caan]",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",PG-13,2h 32m,[Why So Serious?],185000000,1006234167,"[Christian Bale, Heath Ledger, Aaron Eckhart]",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"[Crime, Drama]",R,3h 22m,[All the power on earth can't change destiny.],13000000,47961919,"[Al Pacino, Robert De Niro, Robert Duvall]",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"[Crime, Drama]",Approved,1h 36m,[Life Is In Their Hands -- Death Is On Their M...,350000,955,"[Henry Fonda, Lee J. Cobb, Martin Balsam]",Sidney Lumet,Reginald Rose

In [271]:
movies['tagline'][0]

['Fear can hold you prisoner. Hope can set you free.']

In [ ]:
movies['tagline'].apply(lambda x: x.split() if isinstance(x, str) else x)

0      [Fear can hold you prisoner. Hope can set you ...
1                           [An offer you can't refuse.]
2                                      [Why So Serious?]
3         [All the power on earth can't change destiny.]
4      [Life Is In Their Hands -- Death Is On Their M...
                             ...
245                      [Change begins with a whisper.]
246    [There is man and beast at nature's mercy. The...
247                     [Wish granted! (DVD re-release)]
248             [His Triumph Changed The World Forever.]
249    [Inside everyone is a frontier waiting to be d...
Name: tagline, Length: 250, dtype: object

In [273]:
movies['tagline'] = movies['tagline'].apply(lambda x: x.split() if isinstance(x, str) else x)

In [274]:
movies.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,[Drama],R,2h 22m,[Fear can hold you prisoner. Hope can set you ...,25000000,28884504,"[Tim Robbins, Morgan Freeman, Bob Gunton]",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"[Crime, Drama]",R,2h 55m,[An offer you can't refuse.],6000000,250341816,"[Marlon Brando, Al Pacino, James Caan]",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",PG-13,2h 32m,[Why So Serious?],185000000,1006234167,"[Christian Bale, Heath Ledger, Aaron Eckhart]",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"[Crime, Drama]",R,3h 22m,[All the power on earth can't change destiny.],13000000,47961919,"[Al Pacino, Robert De Niro, Robert Duvall]",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"[Crime, Drama]",Approved,1h 36m,[Life Is In Their Hands -- Death Is On Their M...,350000,955,"[Henry Fonda, Lee J. Cobb, Martin Balsam]",Sidney Lumet,Reginald Rose

In [275]:
movies['genre'].apply(lambda x:[i.replace(" ","") for i in x])
movies['tagline'].apply(lambda x:[i.replace(" ","") for i in x])
movies['casts'].apply(lambda x:[i.replace(" ","") for i in x])

0            [TimRobbins, MorganFreeman, BobGunton]
1               [MarlonBrando, AlPacino, JamesCaan]
2        [ChristianBale, HeathLedger, AaronEckhart]
3            [AlPacino, RobertDeNiro, RobertDuvall]
4             [HenryFonda, LeeJ.Cobb, MartinBalsam]
                           ...
245         [ViolaDavis, EmmaStone, OctaviaSpencer]
246    [MaksimMunzuk, YuriySolomin, MikhailBychkov]
247      [ScottWeinger, RobinWilliams, LindaLarkin]
248    [BenKingsley, JohnGielgud, RohiniHattangadi]
249     [KevinCostner, MaryMcDonnell, GrahamGreene]
Name: casts, Length: 250, dtype: object

In [276]:
movies['genre'] = movies['genre'].apply(lambda x:[i.replace(" ","") for i in x])
movies['tagline'] = movies['tagline'].apply(lambda x:[i.replace(" ","") for i in x])
movies['casts'] = movies['casts'].apply(lambda x:[i.replace(" ","") for i in x])

In [277]:
movies.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,[Drama],R,2h 22m,[Fearcanholdyouprisoner.Hopecansetyoufree.],25000000,28884504,"[TimRobbins, MorganFreeman, BobGunton]",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"[Crime, Drama]",R,2h 55m,[Anofferyoucan'trefuse.],6000000,250341816,"[MarlonBrando, AlPacino, JamesCaan]",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",PG-13,2h 32m,[WhySoSerious?],185000000,1006234167,"[ChristianBale, HeathLedger, AaronEckhart]",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"[Crime, Drama]",R,3h 22m,[Allthepoweronearthcan'tchangedestiny.],13000000,47961919,"[AlPacino, RobertDeNiro, RobertDuvall]",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"[Crime, Drama]",Approved,1h 36m,[LifeIsInTheirHands--DeathIsOnTheirMinds!],350000,955,"[HenryFonda, LeeJ.Cobb, MartinBalsam]",Sidney Lumet,Reginald Rose

In [278]:
movies['tags'] = movies['genre'] + movies['tagline'] + movies['casts']

In [279]:
movies.head()

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers,tags
0,1,The Shawshank Redemption,1994,9.3,[Drama],R,2h 22m,[Fearcanholdyouprisoner.Hopecansetyoufree.],25000000,28884504,"[TimRobbins, MorganFreeman, BobGunton]",Frank Darabont,"Stephen King,Frank Darabont","[Drama, Fearcanholdyouprisoner.Hopecansetyoufr..."
1,2,The Godfather,1972,9.2,"[Crime, Drama]",R,2h 55m,[Anofferyoucan'trefuse.],6000000,250341816,"[MarlonBrando, AlPacino, JamesCaan]",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola","[Crime, Drama, Anofferyoucan'trefuse., MarlonB..."
2,3,The Dark Knight,2008,9.0,"[Action, Crime, Drama]",PG-13,2h 32m,[WhySoSerious?],185000000,1006234167,"[ChristianBale, HeathLedger, AaronEckhart]",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer","[Action, Crime, Drama, WhySoSerious?, Christia..."
3,4,The Godfather Part II,1974,9.0,"[Crime, Drama]",R,3h 22m,[Allthepoweronearthcan'tchangedestiny.],13000000,47961919,"[AlPacino, RobertDeNiro, RobertDuvall]",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo","[Crime, Drama, Allthepoweronearthcan'tchangede..."
4,5,12 Angry Men,1957,9.0,"[Crime, Drama]",Approved,1h 36m,[LifeIsInTheirHands--DeathIsOnTheirMinds!],350000,955,"[HenryFonda, LeeJ.Cobb, MartinBalsam]",Sidney Lumet,Reginald Rose,"[Crime, Drama, LifeIsInTheirHands--DeathIsOnTh..."

In [280]:
new_df = movies[['rank','name','tags']]

In [281]:
new_df

,rank,name,tags
0,1,The Shawshank Redemption,"[Drama, Fearcanholdyouprisoner.Hopecansetyoufr..."
1,2,The Godfather,"[Crime, Drama, Anofferyoucan'trefuse., MarlonB..."
2,3,The Dark Knight,"[Action, Crime, Drama, WhySoSerious?, Christia..."
3,4,The Godfather Part II,"[Crime, Drama, Allthepoweronearthcan'tchangede..."
4,5,12 Angry Men,"[Crime, Drama, LifeIsInTheirHands--DeathIsOnTh..."
...,...,...,...
245,246,The Help,"[Drama, Changebeginswithawhisper., ViolaDavis,..."
246,247,Dersu Uzala,"[Adventure, Biography, Drama, Thereismanandbea..."
247,248,Aladdin,"[Animation, Adventure, Comedy, Wishgranted!(DV..."
248,249,Gandhi,"[Biography, Drama, History, HisTriumphChangedT..."
249,250,Dances with Wolves,"[Adventure, Drama, Western, Insideeveryoneisaf..."

In [282]:
new_df['tags'].apply(lambda x:" ".join(x))

0      Drama Fearcanholdyouprisoner.Hopecansetyoufree...
1      Crime Drama Anofferyoucan'trefuse. MarlonBrand...
2      Action Crime Drama WhySoSerious? ChristianBale...
3      Crime Drama Allthepoweronearthcan'tchangedesti...
4      Crime Drama LifeIsInTheirHands--DeathIsOnTheir...
                             ...
245    Drama Changebeginswithawhisper. ViolaDavis Emm...
246    Adventure Biography Drama Thereismanandbeastat...
247    Animation Adventure Comedy Wishgranted!(DVDre-...
248    Biography Drama History HisTriumphChangedTheWo...
249    Adventure Drama Western Insideeveryoneisafront...
Name: tags, Length: 250, dtype: object

In [283]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Khyati\AppData\Local\Temp\ipykernel_6076\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [284]:
new_df.head()

,rank,name,tags
0,1,The Shawshank Redemption,Drama Fearcanholdyouprisoner.Hopecansetyoufree...
1,2,The Godfather,Crime Drama Anofferyoucan'trefuse. MarlonBrand...
2,3,The Dark Knight,Action Crime Drama WhySoSerious? ChristianBale...
3,4,The Godfather Part II,Crime Drama Allthepoweronearthcan'tchangedesti...
4,5,12 Angry Men,Crime Drama LifeIsInTheirHands--DeathIsOnTheir...

In [285]:
new_df['tags'][0]

'Drama Fearcanholdyouprisoner.Hopecansetyoufree. TimRobbins MorganFreeman BobGunton'

In [286]:
new_df['tags'].apply(lambda x:x.lower())

0      drama fearcanholdyouprisoner.hopecansetyoufree...
1      crime drama anofferyoucan'trefuse. marlonbrand...
2      action crime drama whysoserious? christianbale...
3      crime drama allthepoweronearthcan'tchangedesti...
4      crime drama lifeisintheirhands--deathisontheir...
                             ...
245    drama changebeginswithawhisper. violadavis emm...
246    adventure biography drama thereismanandbeastat...
247    animation adventure comedy wishgranted!(dvdre-...
248    biography drama history histriumphchangedthewo...
249    adventure drama western insideeveryoneisafront...
Name: tags, Length: 250, dtype: object

In [287]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Khyati\AppData\Local\Temp\ipykernel_6076\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [288]:
new_df.head()

,rank,name,tags
0,1,The Shawshank Redemption,drama fearcanholdyouprisoner.hopecansetyoufree...
1,2,The Godfather,crime drama anofferyoucan'trefuse. marlonbrand...
2,3,The Dark Knight,action crime drama whysoserious? christianbale...
3,4,The Godfather Part II,crime drama allthepoweronearthcan'tchangedesti...
4,5,12 Angry Men,crime drama lifeisintheirhands--deathisontheir...

In [289]:
import nltk

In [290]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [291]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [292]:
new_df['tags'].apply(stem)

0      drama fearcanholdyouprisoner.hopecansetyoufree...
1      crime drama anofferyoucan'trefuse. marlonbrand...
2      action crime drama whysoserious? christianbal ...
3      crime drama allthepoweronearthcan'tchangedesti...
4      crime drama lifeisintheirhands--deathisontheir...
                             ...
245    drama changebeginswithawhisper. violadavi emma...
246    adventur biographi drama thereismanandbeastatn...
247    anim adventur comedi wishgranted!(dvdre-releas...
248    biographi drama histori histriumphchangedthewo...
249    adventur drama western insideeveryoneisafronti...
Name: tags, Length: 250, dtype: object

In [293]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Khyati\AppData\Local\Temp\ipykernel_6076\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [294]:
new_df['tags'][0]

'drama fearcanholdyouprisoner.hopecansetyoufree. timrobbin morganfreeman bobgunton'

In [295]:
new_df['tags'][1]

"crime drama anofferyoucan'trefuse. marlonbrando alpacino jamescaan"

In [296]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [297]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [298]:
cv.fit_transform(new_df['tags']).toarray().shape

(250, 1206)

In [299]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [300]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [301]:
cv.get_feature_names_out()

array(['142screenfulminutesofthrillsandsuspense', '15yearsofimprison',
       '1938', ..., 'zaziebeetz', 'zendaya', 'çetintekindor'],
      dtype=object)

In [302]:
from sklearn.metrics.pairwise import cosine_similarity

In [303]:
cosine_similarity(vectors)

array([[1.        , 0.15430335, 0.15430335, ..., 0.        , 0.15430335,
        0.15430335],
       [0.15430335, 1.        , 0.28571429, ..., 0.        , 0.14285714,
        0.14285714],
       [0.15430335, 0.28571429, 1.        , ..., 0.        , 0.14285714,
        0.14285714],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.12598816],
       [0.15430335, 0.14285714, 0.14285714, ..., 0.        , 1.        ,
        0.14285714],
       [0.15430335, 0.14285714, 0.14285714, ..., 0.12598816, 0.14285714,
        1.        ]])

In [304]:
cosine_similarity(vectors).shape

(250, 250)

In [305]:
similarity = cosine_similarity(vectors)

In [306]:
similarity[1]

array([0.15430335, 1.        , 0.28571429, 0.42857143, 0.26726124,
       0.13363062, 0.14285714, 0.26726124, 0.14285714, 0.        ,
       0.15430335, 0.15430335, 0.14285714, 0.        , 0.        ,
       0.        , 0.22792115, 0.14285714, 0.25197632, 0.15430335,
       0.13363062, 0.16903085, 0.25197632, 0.14285714, 0.12598816,
       0.12598816, 0.28571429, 0.        , 0.        , 0.        ,
       0.        , 0.13363062, 0.        , 0.10910895, 0.26726124,
       0.12598816, 0.13363062, 0.25197632, 0.23904572, 0.26726124,
       0.13363062, 0.15430335, 0.14285714, 0.14285714, 0.13363062,
       0.12598816, 0.11952286, 0.        , 0.        , 0.13363062,
       0.        , 0.10482848, 0.23904572, 0.        , 0.14285714,
       0.        , 0.        , 0.12598816, 0.14285714, 0.15430335,
       0.15430335, 0.14285714, 0.        , 0.28571429, 0.        ,
       0.        , 0.16903085, 0.        , 0.15430335, 0.11396058,
       0.14285714, 0.11396058, 0.        , 0.        , 0.28571429,
       0.13363062, 0.13363062, 0.14285714, 0.        , 0.34188173,
       0.14285714, 0.12598816, 0.13363062, 0.        , 0.15430335,
       0.        , 0.28571429, 0.15430335, 0.        , 0.13363062,
       0.        , 0.10910895, 0.14285714, 0.16903085, 0.10910895,
       0.11952286, 0.13363062, 0.        , 0.        , 0.15430335,
       0.        , 0.09166985, 0.09449112, 0.1833397 , 0.13363062,
       0.14285714, 0.40089186, 0.13363062, 0.13363062, 0.3086067 ,
       0.40089186, 0.23904572, 0.        , 0.15430335, 0.11952286,
       0.28571429, 0.23904572, 0.        , 0.13363062, 0.        ,
       0.16903085, 0.15430335, 0.13363062, 0.13363062, 0.14285714,
       0.        , 0.28571429, 0.14285714, 0.        , 0.15430335,
       0.15430335, 0.12598816, 0.14285714, 0.14285714, 0.28571429,
       0.14285714, 0.12598816, 0.14285714, 0.14285714, 0.14285714,
       0.14285714, 0.        , 0.15430335, 0.        , 0.13363062,
       0.14285714, 0.        , 0.12598816, 0.28571429, 0.        ,
       0.26726124, 0.25197632, 0.        , 0.        , 0.13363062,
       0.11952286, 0.14285714, 0.11396058, 0.09449112, 0.14285714,
       0.        , 0.14285714, 0.10910895, 0.        , 0.28571429,
       0.13363062, 0.11396058, 0.28571429, 0.14285714, 0.14285714,
       0.16903085, 0.        , 0.28571429, 0.10482848, 0.13363062,
       0.12598816, 0.10482848, 0.15430335, 0.14285714, 0.        ,
       0.        , 0.40089186, 0.15430335, 0.11952286, 0.14285714,
       0.12598816, 0.        , 0.        , 0.22792115, 0.15430335,
       0.13363062, 0.14285714, 0.13363062, 0.21821789, 0.        ,
       0.14285714, 0.08908708, 0.        , 0.11396058, 0.13363062,
       0.        , 0.15430335, 0.        , 0.        , 0.14285714,
       0.13363062, 0.15430335, 0.13363062, 0.13363062, 0.14285714,
       0.15430335, 0.15430335, 0.        , 0.26726124, 0.        ,
       0.13363062, 0.11952286, 0.14285714, 0.10910895, 0.14285714,
       0.15430335, 0.        , 0.16903085, 0.12598816, 0.13363062,
       0.        , 0.        , 0.        , 0.28571429, 0.11396058,
       0.        , 0.12598816, 0.16903085, 0.28571429, 0.14285714,
       0.13363062, 0.10101525, 0.28571429, 0.12598816, 0.26726124,
       0.13363062, 0.        , 0.15430335, 0.        , 0.        ,
       0.16903085, 0.11952286, 0.        , 0.14285714, 0.14285714])

In [307]:
def recommend(movie):
    movie_index = new_df[new_df['name'] == movie].index[0] #its function that find index value from table
    distances = similarity[movie_index] #measuring distance of array
    # For next step we sort the list with emurate function so it convert with tuple 
    # Then it will reverse the list and then its will give 5 simmilar cordinate suggestion using lambda function
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6] 
    for i in movies_list:
        print(new_df.iloc[i[0]].name)

In [308]:
recommend('The Shawshank Redemption')

139
18
173
66
93

In [372]:
np.savez('similarity.npz', similarity=similarity)